ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

#project-wrap #project-menu-wrap #project-overlay {
  position: fixed;
  transition: all 0.5s ease-in-out, z-index 0s;
  width: 100vw;
  height: 100vh;
  background: #23232377;
}

#project-wrap #project-menu-wrap #project-menu-contents {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-btn {
  z-index: 9999;
  width: 50px;
  height: 50px;
  background: #232323;
  border-radius: 50px;
  box-shadow: 0px 0px 15px -5px #232323;
  cursor: pointer;
  transition: 0.5s;
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-btn:hover {
  animation: ico-spin infinite 5s linear;
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-btn #project-menu-img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.5s;
  transform: translate(-50%, -50%);
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-list-wrap {
  z-index: -1;
  /* width: 0;
  padding: 0; */
  height: 50px;
  transition: max-width 1s, padding-left 1.5s, padding-right 1.5s;
  background: white;
  box-shadow: 0px 0px 20px -10px #232323;
  position: fixed;
  border-radius: 55px;
  /* padding-left: 15px;
  padding-right: calc(1rem + 50px); */
  overflow-x: hidden;
  line-height: 50px;
  right: 1.5rem;
  bottom: 1.5rem;
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-list-wrap #project-menu-item-wrap {
  min-width: 575px;
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-list-wrap .project-menu-item {
  transition: 0.5s;
  float: left;
  margin-left: 1rem;
  cursor: pointer;
  color: rgb(170, 170, 170);
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-list-wrap .project-menu-item:hover {
  color: black;
  text-shadow: 0px 0px 2.5px #d8d8d8;
}

#project-wrap #project-menu-wrap #project-menu-contents #project-menu-list-wrap .project-menu-item:not(:last-child):after {
  content: "";
  margin-left: 1rem;
  border-right: 1px solid rgb(235, 235, 235);
}

@keyframes ico-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}