html,
body {
  margin: 0;
  padding: 0;
}

#project-wrap {
}

#project-wrap #project-sidebar-wrap {
  width: 250px;
  height: 100vh;
  float: left;
  background-color: grey;
}

#project-wrap #project-sidebar-wrap .project-sidebar-group .project-sidebar-groupname {
  margin: 0;
  font-weight: 700;
}

#project-wrap #project-sidebar-wrap .project-sidebar-group .project-sidebar-pathname {
  margin-left: 10px;
}

#project-wrap #project-document-wrap {
  width: calc(100% - 250px);
  height: 100vh;
  float: left;
  background: pink;
}